<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body style="background-color: rgb(52, 129, 129);">
    <center><u><h1>Here delete the data</h1></u></center>
    <center>
    <form action="deleteTask" method="POST">
        <table colspan="2" border="2">
            <tr>
                <td>Id</td>
                <td><input type="text" name="Id" placeholder="Enter your Id"></td>
            </tr>
            <tr>
                <!-- <td>Id</td> -->
                <td><input type="submit" value="delete"></td>
            </tr>

        </table>
    </form>
</center>
</body>
</html>